.banner-container{
    background: url('./images/banner-6.JPG') center center/cover no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.banner-text{
    
    position: absolute;
    bottom: 0%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.banner-text p {
    color: white;
    
}

.banner-container:hover .banner-text{
    bottom: 5%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .banner-text{
        left: 40%;
    }
    
    .banner-container:hover .banner-text{
    bottom: 25% !important;
    
    }
    
}

@media screen and (max-width: 1024px) {
    .banner-text{
        left: 50%;
    }
    
    .banner-container:hover .banner-text{
    bottom: 25% !important;
    
    }
    
}
