.description{
    margin: 30px;
}

.main{
    width: 60%;
    margin-left: 20%;
    align-items: center;
    margin-bottom: 100px;
}

form{
    border: 0px;
    background-color: whitesmoke;
}

.search-container{
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding-top: 35px;
    
}



.keyword-container{
    padding-top: 40px;
    height: auto;
    margin: 20px;
    margin-left: 70px;
    background-color: transparent;
    display: inline-flex;
}

.keyword-container input{
    border-style: solid;
    margin-left: 20px;
    border-color: #000;
    border-radius: 5px;
}





.search-form{ 
    margin-left: 20px;
    border-style: solid;
    border-radius: 3px;
}



.chooseCountry{
    
    margin-left: 70px ;
}

.searchInputs{ 
    margin: 10px 15px 20px 110px;
    border-style: solid;
    border-radius: 12px;
}

.searchbtn {
    padding: 5px;
    font-size: 25px;
    margin-left: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.searchbtn:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .main{
        width: 80%;
        margin-left: 10%;
    }

    .searchbtn{
        margin-left: 190px;
    }
}

@media screen and (max-width: 1140px) {
    .searchbtn{
        margin-left: 190px;
    }
}